<nav class="navbar">

  <a routerLink="" class="navbar-brand">
    🌿 Café de Barrio
  </a>

  <div class="navbar-links">

    @if (!authService.isLoggedIn()) {
      <a routerLink="" class="link-primary">
        BIENVENIDOS
      </a>
    }

    @if (authService.isLoggedIn()) {

      <div class="nav-group">

        @if (authService.isUser()) {
          <a routerLink="/" routerLinkActive="active">Catálogo</a>
        }

        @if (authService.isAdmin()) {
          <a routerLink="/admin/productos" routerLinkActive="active">Productos</a>
          <a routerLink="/admin/pedidos" routerLinkActive="active">Pedidos</a>
        }

      </div>

      <div class="nav-group right">

        @if (authService.isUser()) {
          <a routerLink="/carrito" class="carrito-btn" routerLinkActive="active">
            Carrito 🛍️
            @if (carritoService.cantidadTotal() > 0) {
              <span class="badge">
                {{ carritoService.cantidadTotal() }}
              </span>
            }
          </a>
        }

        <span class="usuario-label">
          {{ authService.usuario()?.username }}
        </span>

        <button class="btn-logout" (click)="authService.logout()">
          Salir
        </button>

      </div>

    }

  </div>

</nav>