<nav class="navbar">
  <a routerLink="/" class="navbar-brand">☕ Café de Barrio</a>

  <div class="navbar-links">
    @if (!authService.isLoggedIn()) {
      <a routerLink="/login" class="link-admin">BIENVENIDOS</a>
    }
    @if (authService.isLoggedIn()) {

    @if (authService.isUser()) {
      <a routerLink="/">Catálogo</a>
    }
      @if (authService.isAdmin()) {
        <a routerLink="/admin/productos">Productos</a>
        <a routerLink="/admin/pedidos">Pedidos</a>
      }

      @if (authService.isUser()) {
        <a routerLink="/carrito" class="carrito-btn">
          🛒 Carrito
          @if (carritoService.cantidadTotal() > 0) {
            <span class="badge">
              {{ carritoService.cantidadTotal() }}
            </span>
          }
        </a>
      }
      <span class="usuario-label">
        👤 {{ authService.usuario()?.username }}
      </span>

      <button class="btn-logout" (click)="authService.logout()">
        Cerrar sesión
      </button>
    }

  </div>
</nav>